<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DA_IT</title>
    <link rel="stylesheet" href="/static/css/login/check.css" />
  </head>
  <body>
    <div class="container">
      <img src="/static/image/login/log.svg" alt="login-logo" class="logo" />
      <div class="box">
        <form>
          <div class="input-container">
            <div class="check_box">
              <input type="checkbox" id="ch1" />
              <label for="ch1">전체 동의하기</label>
            </div>
          </div>

          <input type="submit" value="이메일 인증" class="submit-btn" />
        </form>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/login/newaccount.js"></script>
  </body>
</html>
